<ion-view style="" title="Location Detail">
    <div class="tabs-striped tabs-top tabs-background-assertive tabs-color-light">
        <div class="tabs">
            <a class="tab-item active" href="#/locationList">
                <i class="icon ion-ios-home-outline"></i>
                Location
            </a>
            <a class="tab-item" href="#/loginAccount">
                <i class="icon ion-log-in"></i>
                Login
            </a>
            <a class="tab-item" href="#/settings">
                <i class="icon ion-ios-settings"></i>
                Settings
            </a>
        </div>
    </div>
    <ion-content class="has-header" overflow-scroll="true" padding="true">
    <br><br><br>

       <div class="list">
           <a class="item item-avatar" href="javascript:void(0)">
                 <img src="img/user.png">
                 <h2>I Wayan Adi Sparta</h2>
                 <p>Active</p>
           </a> 
       </div>

    </ion-content>
</ion-view>