<ion-view style="" title="Location List">
    <div class="tabs-striped tabs-top tabs-background-assertive tabs-color-light">
        <div class="tabs">
            <a class="tab-item active" href="#/locationList">
                <i class="icon ion-ios-home-outline"></i>
                Location
            </a>
            <a class="tab-item" href="#/loginAccount">
                <i class="icon ion-log-in"></i>
                Login
            </a>
            <a class="tab-item" href="#/settings">
                <i class="icon ion-ios-settings"></i>
                Settings
            </a>
        </div>
    </div>
    <ion-content class="has-header" overflow-scroll="true" padding="true">
    <br><br><br>

       <div class="list">
           <a class="item item-thumbnail-left" href="#/locationDetail">
             <img src="img/location.png">
             <h2>Ruang Jurusan Pendidikan Teknik Informatika</h2>
             <p>
                 9 Members
             </p>
           </a>
       </div>

    </ion-content>
</ion-view>