<ion-view style="" title="Login Account">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div class="parent">
            <div class="child">
                <form style="" class="list">
                    <label style="" name="username" class="item item-input">
                        <span class="input-label">Username</span>
                        <input placeholder="Username" type="text">
                    </label>
                    <label style="" name="password" class="item item-input">
                        <span class="input-label">Password</span>
                        <input placeholder="Password" type="password">
                    </label>
                </form>
                <button style="" ng-click="login()" class="button button-positive button-block ">Login</button>
                <div style="">
                    <p>Didn't have an account? <a href="#/registerUserData"><strong>Register</strong></a></p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>