<ion-view style="" title="Select Your Area">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <form style="" class="list">
            <label style="" name="area" class="item item-select">
                <span class="input-label">Select</span>
                <select>
                    <option>Undiksha</option>
                    <option></option>
                </select>
            </label>
        </form>
        <button style="" class="button button-positive button-block" ng-click="register()">Register</button>
    </ion-content>
</ion-view>